@model LicenseViewModel

@{
    ViewBag.Title = "License Upload";
    Layout = "_Layout";
}
@if (ViewData.ModelState.IsValid)
{
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="uploadLicense">
        <div class="form-group">
            <label for="LicenseID">License ID:</label>
            <input type="text" class="form-control" id="LicenseID" name="LicenseID" />
        </div>

        <div class="form-group">
            <label for="LicenseFile">License File:</label>
            <input type="file" class="form-control-file" id="LicenseFile" name="licenseFile" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
}
else
{
    <p>Invalid model state. Please correct the errors.</p>
}