@model HartCheck_Doctor_test.DTO.DoctorScheduleDto

@{
    ViewBag.Title = "Schedule an Appointment";
    Layout = "_Layout";
}



@using (Html.BeginForm("ScheduleAppointment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.doctorSchedID)
        @Html.TextBoxFor(model => model.schedDateTime, new { @class = "form-control", type = "datetime-local" })
        @Html.ValidationMessageFor(model => model.schedDateTime)
    </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
}