@model HartCheck_Doctor_test.DTO.ForgotPasswordDto

@{
    ViewBag.Title = "Forgot Password";
    Layout = "_Layout";
}
    <div class="main_container b">
        <div class="loginform c">
            <h2>Forgot Password</h2>
            <p>Please enter the email linked to your account. <br> A link will be sent to register
                            your password.
            </p>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                @Html.TextBoxFor(model => model.Email, new { @class = "inp_log_pass",placeholder="Email" })
                @Html.ValidationMessageFor(model => model.Email)
            
                <button type="submit" class="btn_primary">Send OTP</button>
            }
        </div>
    </div>





