@model HartCheck_Doctor_test.DTO.ForgotPasswordDto

@{
    ViewBag.Title = "Forgot Password";
    Layout = "_Layout";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <button type="submit" class="btn btn-primary">Send OTP</button>
}




