@using HartCheck_Admin.ViewModels
@model ViewDoctorViewModel

<form method="post" asp-action="View" >
    <input type="hidden" asp-for="usersID" id="userID" />
    <div class="form-group">
        <label asp-for="firstName">First Name</label>
        <input asp-for="firstName"readonly class="form-control " placeholder="">
        <span asp-validation-for="firstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="lastName">Last Name</label>
        <input asp-for="lastName" readonly class="form-control" placeholder="">
        <span asp-validation-for="lastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email">Email Address</label>
        <input asp-for="email"readonly class="form-control " placeholder="">
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="phoneNumber">Phone Number</label>
        <input asp-for="phoneNumber"readonly class="form-control " placeholder="">
        <span asp-validation-for="phoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="clinic">Hospital</label>
        <input asp-for="clinic" readonly class="form-control " placeholder="">
        <span asp-validation-for="clinic"class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="licenseID"> License No.</label>
        <input asp-for="licenseID"readonly class="form-control " placeholder="">
        <span  asp-validation-for="licenseID"class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="verification">Status</label>
        <input asp-for="verification"readonly class="form-control " placeholder="">
        <span asp-validation-for="verification"class="text-danger"></span>
    </div>
    <div class="form-group">
        <label >License Image</label>
        <h1></h1>
        <img id="licenseImg">
    </div>

 </form> 

 <script>
     window.addEventListener('load', () => {
     
     document.getElementById("licenseImg").src = '\\@(Model.externalPath)\\@(Model.fileName)'; 

});
 </script>
