@using HartCheck_Admin.Models
@model BugReport

<h1>Are you sure you want to delete this Bug Report?</h1>

<form method="post" asp-action="Delete" >
    <div class="form-group">
        <label asp-for="bugID">BugID</label>
        <input asp-for="bugID" class="form-control" placeholder="bugID" readonly>
        <span asp-validation-for="bugID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="userID">UserID</label>
        <input asp-for="userID" class="form-control" placeholder="UserID" readonly>
        <span asp-validation-for="userID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="featureID">FeatureID</label>
        <input asp-for="featureID" class="form-control" placeholder="FeatureID" readonly>
        <span asp-validation-for="featureID" class="text-danger"></span>
    </div>
 </form> 
    
    <div class="form-group">
        <form action="Delete" method="post">
            <input type="hidden" asp-for="bugID" />
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        </form>
     </div>
