@model BpThresholdViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

   <div class="main_container" style="margin-left: 50%">
       <div class="loginform" style="height: 600px; background-color: white; border-radius:  10px; box-shadow:  0  4px  8px  0 rgba(0,  0,  0,  0.2),  0  6px  20px  0 rgba(0,  0,  0,  0.19);">
           <h2>BP Threshold</h2>
           <p style="margin-bottom: 5%; width: 70%">Please select a patient to set their Systolic and Diastolic Threshold.
           </p>
           <form asp-action="BpThreshold">
               <select asp-for="SelectedPatientId" asp-items="Model.Patients" class="inp_log_pass"></select>
               <input asp-for="SystolicLevel" class="inp_log"/>
               <input asp-for="DiastolicLevel" class="inp_log_pass"/>
               <input type="submit" value="Submit" class="btn_primary"/>
           </form>
       </div>
   </div>


