@using HartCheck_Admin.Models
@model Patient

<h1>Are you sure you want to delete this Educational Resource?</h1>

<form method="post" asp-action="Delete" >
    <input type="hidden" value="usersID" id="usersID" asp-for="usersID" />
    <div class="form-group">
        <label asp-for=firstName>First Name</label>
        <input asp-for="firstName" class="form-control"  readonly>
        <span asp-validation-for="firstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="lastName">Last Name</label>
        <input asp-for="lastName" class="form-control" readonly>
        <span asp-validation-for="lastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="email">Email</label>
        <input asp-for="email" class="form-control" readonly>
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="phoneNumber">Phone Number</label>
        <input asp-for="phoneNumber" class="form-control" readonly>
        <span asp-validation-for="phoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="birthdate">Birth Date</label>
        <input asp-for="birthdate" class="form-control" readonly>
        <span asp-validation-for="birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
         <input type="hidden" asp-for="usersID" />
         <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
    </div>
</form>