<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HartCheck</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"/>*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet" asp-append-version="true">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

@if (User.IsInRole("2"))
{
    <div class="sidebar">
        <ul>
            <li class="logo">
                <a href="#">
                    <div class="icon"><img src="~/logo/Logo.png" alt=""></div>
                    <div class="text">HärtCheck</div>
                </a>
            </li>
            <div class="Menulist">
                <li id="home" style="--bg:#009D68">
                    <a  asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="icon">
                            <ion-icon name="home"></ion-icon>
                            <span class="sub_text">Home</span>
                        </div>
                        <div class="text">Home</div>
                    </a>
                </li>
                <li id="notifx" style="--bg:#009D68">
                    <a href="#" onclick="toggleNotif()">
                        <div class="icon">
                            <ion-icon name="notifications"></ion-icon>
                            <span class="sub_text">Notifications</span>
                        </div>
                        
                        <div class="text">Notifications</div>
                    </a>
                </li>
                <li id="notif" style="--bg:#009D68">
                    <a asp-controller="Patient" asp-action="ViewPatient">
                        <div class="icon">
                            <ion-icon name="accessibility"></ion-icon>
                            <span class="sub_text">Patient Info</span>
                        </div>
                        <div class="text">View Consultations</div>
                    </a>
                </li>
                <li id="consul" style="--bg:#009D68">
                    <a asp-controller="Patient" asp-action="ViewConsultation">
                        <div class="icon">
                            <ion-icon name="calendar"></ion-icon>
                            <span class="sub_text">Appointment</span>
                            <span class="sub_text">Requests</span>
                        </div>
                        
                        <div class="text">Appointments</div>
                    </a>
                </li>
                <li id="chat" style="--bg:#009D68">
                    <a asp-controller="Patient" asp-action="Chat" >
                        <div class="icon">
                            <ion-icon name="chatbubble-ellipses"></ion-icon>
                            <span class="sub_text">Chat</span>
                        </div>
                        <div class="text">Chat</div>
                    </a>
                </li>
                <li id="bp" style="--bg:#009D68">
                    <a asp-controller="Patient" asp-action="PatientBP">
                        <div class="icon"><ion-icon name="bar-chart"></ion-icon>
                            <span class="sub_text">Patient BP</span></div>
                        <div class="text">Patients'Blood Pressure</div>
                    </a>
                </li>
                <li id="notif" style="--bg:#009D68">
                    <a asp-controller="Home" asp-action="ScheduleAppointment">
                        <div class="icon">
                            <ion-icon name="calendar-number"></ion-icon>
                            <span class="sub_text">Set Appointment</span>
                            <span class="sub_text">Date</span>
                        </div>
                        <div class="text">Set an Appointment Date</div>
                    </a>
                </li>
                <li id="notif" style="--bg:#009D68">
                    <a asp-controller="Patient" asp-action="BpThreshold">
                        <div class="icon"><ion-icon name="fitness"></ion-icon>
                            <span class="sub_text">BP Threshold</span></div>
                        <div class="text">Set BP Threshold</div>
                    </a>
                </li>
                <li id="notif" style="--bg:#009D68">
                    <a asp-area="" asp-controller="Home" asp-action="ReportABug">
                        <div class="icon"><ion-icon name="bug"></ion-icon>
                            <span class="sub_text">Bug Report</span></div>
                        <div class="text">Report a Problem</div>
                    </a>
                </li>
                <li id="edit" style="--bg:#009D68">
                    <a asp-controller="Account" asp-action="EditProfile">
                        <div class="icon"><ion-icon name="person-circle"></ion-icon>
                            <span class="sub_text">Profile</span></div>
                        <div class="text">Profile</div>
                    </a>
                </li>
                <li id="notif" style="--bg:#009D68">
                    <a asp-controller="Account" asp-action="Logout">
                        <div class="icon"><ion-icon name="log-out-outline"></ion-icon>
                            <span class="sub_text">Logout</span></div>
                        <div class="text">Logout</div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    
    <script asp-append-version="true">
       let logo = document.querySelector('.logo');
       let sidebar = document.querySelector('.sidebar');
       logo.onclick = function(){
          sidebar.classList.toggle('active');
       }
       let Menulist = document.querySelectorAll('.Menulist li');
       function activeLink(){
          Menulist.forEach((item)=> {
              if (item !== this) {
                 item.classList.remove('active');
              }
          });
          if (!this.classList.contains('active')) {
              this.classList.add('active');
          }
       }
       Menulist.forEach((item)=>
          item.addEventListener('click', () => {
              activeLink.call(item);
          })
       );
       // Check if the current URL matches the asp-controller and asp-action values of each menu item
       let currentUrl = window.location.href;
       Menulist.forEach((item) => {
          let a = item.querySelector('a');
          if (a.href === currentUrl) {
              item.classList.add('active');
          }
       });
       // Add 'active' class to the first item
       if (Menulist.length > 0) {
          Menulist[0].classList.add('active');
       }
       // Remove 'active' class from 'Home' element
       let home = document.getElementById('home');
       if (home.classList.contains('active')) {
          home.classList.remove('active');
       }
        let notif_box = document.getElementById("notif_box");
           function toggleNotif(){
               notif_box.classList.toggle("open-box");
           }
</script>
}
else
{
    <div class="logobar">
        <div class="logo_container">
            <div class="logo"><img src="~/logo/Logo.png" alt=""></div>
            <h1 class="title">HärtCheck</h1>
            <h2 class="title">Doctor's Portal</h2>
        </div>
    </div>
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="js/chat.js"  asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
